<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{{ base_url() }}/asset/css/bootstrap.css" crossorigin="anonymous">
<!-- nasza nakładka CSS -->
<link rel="stylesheet" href="{{ base_url() }}/asset/css/theme.css" crossorigin="anonymous">


<div class="container">

    <img src="logo.png" class="img-thumbnail" alt="Cinque Terre">



</div>

</br>


<div class="container">
<div class="row">
    <div class="col-sm-4"><button type="submit" class="btn btn-primary btn-lgg">Rejestracja</button></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"> <button type="submit" class="btn btn-primary btn-lgg">Zaloguj</button></div>
</div>

</div>