

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{{ base_url() }}/asset/css/bootstrap.css" crossorigin="anonymous">
<!-- nasza nakładka CSS -->
<link rel="stylesheet" href="{{ base_url() }}/asset/css/theme.css" crossorigin="anonymous">


<div class ="container">

    <h3> Udało się pomyślnie aktywować konto!</h3>


<form class="" action="{{ base_url() }}account/login" method="POST" id="add_user">

      <button type="submit" class="btn btn-primary">Zaloguj</button>

</form>



</div>