body {
    padding-top: 70px;
    padding-bottom: 30px;
}
h5{
    font-size: 15px;
}

.h_middle{
    text-align: center;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    width: 70%;
}

.page-header h2{
    font-size: 25px;
    width: 7px;
}

.col-md-6{
    position:relative;
    width: 50%;
    float: left;
}
.col-md-6 img{
    float:right;
}

.col-lg-4{
    width: 50%;
}
.col-md-1{
    width: 100%;
}
.btn-forw{
    float: right;
}

.btn-end{
    float: right;
}

.btn-back{
    float: left;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

form section:nth-of-type(n+2)
{
    display: none;
}

/*SEBA CSS */

.edit_img .remove_img
{
    cursor: pointer;
}

.edit_img .remove_img > img
{
    position: absolute;
    width: 30px;
    top: 10px;
    right: 40px;
}
