{% extends "admin/include/include.twig" %}


{% block dashboard %}

<div class="container" >
    <!-- Szary Panel -->
    <div class="jumbotron">
        <h2>Pulpit</h2>
    </div>
    {% autoescape %}
        {{ validation|raw }}
    {% endautoescape %}
    <div class="row">
        <div class="col-lg-4">
            {% block calendar %}

                    <script type="text/javascript">
                        $(document).ready(function() {

                            $('#calendar').fullCalendar({

                            });

                        });

                    </script>
                    <div id="calendar">
                    </div>
            {% endblock %}
        </div>
        <div class="col-lg-4">
            <h2>Log</h2>
            {% for logs in log %}
            <p>{{ logs.Log }} w dniu: {{ logs.Data }}</p>
            {% endfor %}
            {#<p>Użytkownik: adrian wprowadził zmianę na produkcie numer 64 w dniu 22-11-2017</p>
            <p>Użytkownik: adam wycofał produkt numer  02 w dniu 01-12-2017</p>
            <p>Użytkownik: adrian wprowadził zmianę na produkcie numer 03 w dniu 01-12-2017</p>
            <p>Użytkownik: adrian wprowadził zmianę na produkcie numer 54 w dniu 05-01-2018</p>
            <p>Użytkownik: seba wprowadził produkt numer  69 w dniu 10-01-2018</p>
            <p>Użytkownik: kamil wprowadził zmianę na produkcie numer 12 w dniu 10-01-2018</p>
            <p>Użytkownik: kamil wycofał produkt numer 06 w dniu 20-01-2018</p>
            <p>Użytkownik: seba wprowadził produkt numer 80 w dniu 21-01-2018</p>#}
        </div>

    </div>
</div>



{% endblock %}
