{% extends "admin/include/include.twig" %}

{% block body %}


    <div class="container theme-showcase" role="main">
        <!-- Szary Panel -->
        <div class="jumbotron">
            <h2>Wyswietlanie produktów</h2> <!--do wladowania numer produktu -->
        </div>

        {% autoescape %}
            {{ validation|raw }}
        {% endautoescape %}

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Numer:</th>
                <th>Nazwa:</th>
                <th>Gr. załad:</th>
                <th>Dostawca:</th>
                <th><th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width=10%>001</td>
                <td width=40%>sok </td>
                <td width=20%>chłodnia</td>
                <td width=20%>selgros</td>
                <td width=10%><button type="button" class="btn btn-default">Przejdź</button><td> <!-- Przjscie do wyswietlenia produktu z danego numeru -->
            </tr>
            <tr>
                <td width=10%>002</td>
                <td width=40%>sok </td>
                <td width=20%>mroznia</td>
                <td width=20%>makro</td>
                <td width=10%><button type="button" class="btn btn-default">Przejdź</button><td>
            </tr>
            <tr>
                <td width=10%>003</td>
                <td width=40%>sok </td>
                <td width=20%>spozywka</td>
                <td width=20%>makro</td>
                <td width=10%><button type="button" class="btn btn-default">Przejdź</button><td>
            </tr>
            <tr>
                <td width=10%>003</td>
                <td width=40%>sok </td>
                <td width=20%>spozywka</td>
                <td width=20%>makro</td>
                <td width=10%><button type="button" class="btn btn-default">Przejdź</button><td>
            </tr>
            <tr>
                <td width=10%>003</td>
                <td width=40%>sok </td>
                <td width=20%>spozywka</td>
                <td width=20%>makro</td>
                <td width=10%><button type="button" class="btn btn-default">Przejdź</button><td>
            </tr>
            <tr>
                <td width=10%>003</td>
                <td width=40%>sok </td>
                <td width=20%>spozywka</td>
                <td width=20%>makro</td>
                <td width=10%><button type="button" class="btn btn-default">Przejdź</button><td>
            </tr>
            <tr>
                <td width=10%>003</td>
                <td width=40%>sok </td>
                <td width=20%>spozywka</td>
                <td width=20%>makro</td>
                <td width=10%><button type="button" class="btn btn-default">Przejdź</button><td>
            </tr>




            </tbody>
        </table>


    </div>
{% endblock %}

