{% extends "admin/include/include.twig" %}
{% block add %}


    <form method="post" action ="{{ base_url() }}admin/magazine/add_magazine">
        <br/><br/><br/><p>
            <label for="">Magazyn</label>
            <input type="text" name="magazyn" value="{{ post_2 }}" placeholder="Skrót magazynu (np: MG)">
        </p>
        <p>
            <label for="">Pełna nazwa magazynu</label>
            <input type="text" name="NazwaMagazynu" value="{{ post_1 }}" placeholder="Magazyn Główny">
        </p>
        <input type="submit" name="Przejdz" value="Dodaj"/>

    </form>


    {{ validation|raw }}

{% endblock %}